* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d1a26;
  font-family: "Noto Sans SC", sans-serif;
  overflow: hidden;
  user-select: none;
}

img {
  pointer-events: none;
}

.krz-app {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.krz-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #000;
}

.krz-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;
  background-image: url("https://s-sh-1943-mingyan-static.oss.dogecdn.com/kenese/test/QQ%E5%9B%BE%E7%89%8720220710153301%20(1).jpg");
}

.krz-loading-img {
  width: 200px;
}

.krz-loading-text {
  position: absolute;
  bottom: 200px;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  right: 115px;
  bottom: 90px;
}

.krz-version {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #fff;
  opacity: 0.7;
  font-size: 1.1rem;
  z-index: 99999999999999999;
}
