.krz-dialog-box {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.krz-dialog-model {
  width: 90%;
  height: 20%;
  position: absolute;
  bottom: 40px;
  background-color: #ffffffd6;
  border: 5px #000 solid;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
}

.krz-dialog-next-icon {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #000;
  border-radius: 6px;
}

.krz-dialog-text {
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem;
  color: #000;
  margin-left: 100px;
  margin-top: 60px;
  /* margin-left: 100px; */
}
/* 
.krz-dialog-character {
  position: absolute;
  top: 0;
  left: 0;
}

.krz-dialog-character-image {
  max-width: 100px;
} */
