@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.krz-animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.7s;
}

.krz-animate-fadeIn-200 {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.krz-animate-fadeIn-400 {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.krz-animate-fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.7s;
}

.krz-animate-fadeOut-200 {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

.krz-animate-fadeOut-400 {
  animation-name: fadeOut;
  animation-duration: 0.4s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.krz-animate-pulse {
  animation: 2s ease-in-out 0s infinite pulse;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.krz-animate-flicker {
  animation: 1.5s linear 0s infinite flicker;
}

@keyframes fadeToDark {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

.krz-animate-fadeToDark {
  animation-name: fadeToDark;
  animation-duration: 0.2s;
}
